body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

/* dark mode */
.dark-mode {
    background-color: #1a1a1a;
    color: white;
}

.nav-dark-mode {
    background: rgba(26, 26, 26, 0.47);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.brand-dark-mode {
    color: white;
}

body.dark-mode .project-link {
    color: white;
}

/* h1 */
h1 {
    font-size: 54px;
    margin: 15px 0px 15px 0px;
}

/* container */
#container {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* nav */
nav {
    z-index: 5;
    user-select: none;
    position: fixed;
    max-width: 1870px;
    width: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px 5px 25px;
    background: rgba(255, 255, 255, 0.47);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav a {
    text-decoration: none;
    color: black;
}

#nav-brand {
    font-family: monospace;
    font-weight: bold;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#nav-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#nav-links a {
    text-decoration: none;
    color: black;
    height: 35px;
}

#mode-btn {
    cursor: pointer;
}

/* main */
#main {
    margin-top: 50px;
    padding: 0px 25px 0px 25px;
}

/* Section 1 */
#section-1 {
    max-width: 1270px;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
}

/* typewirter */
#typewriter {
    font-family: monospace;
    white-space: nowrap;
    font-size: 72px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
}

.typed-text {
    display: inline-block;
}

.cursor {
    display: inline-block;
    animation: blink 1s infinite;
    z-index: 1;
    color: rgb(144, 158, 238);
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Circle */
#pulsating-circle {
    z-index: -1;
    position: absolute;
    width: 350px;
    height: 250px;
    margin: -30px 0 0 60px;
    border-radius: 50%;
    filter: blur(15px);
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.2);
    animation: pulse 8s infinite;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 0, 0, 0.2);
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.2);
    }
    50% {
        background-color: rgba(0, 0, 255, 0.2);
        transform: translate(-50%, -50%) scale(1.2);
        box-shadow: 0 0 40px 20px rgba(0, 0, 255, 0.2);
    }
    100% {
        background-color: rgba(255, 0, 0, 0.2);
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.2);
    }
}

/* Section 2 */
#section-2 {
    display: flex;
    flex-direction: column;
    max-width: 1270px;
    margin: auto;
}

/* Projects */
#projects {
    display: flex;
    flex-direction: column;
}

#cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 630px;
}

.card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 15px 0 15px;
}

.project-links {
    margin-bottom: 15px;
}

.card-title > span {
    padding-top: 3px;
}

.card-pictures {
    padding: 0 15px 15px 15px;
}

.card-text > div > a {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-decoration: underline;
    color: black;
}

.card-text > div > a:hover {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: rgb(144, 158, 238);
}

.card-pictures > img {
    width: 100%;
    height: auto;
    max-width: 600px;
}

@media screen and (max-width: 683px) {
    #cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    #typewriter {
        font-size: 38px;
    }
}

@media screen and (min-width: 683px) {
    .card-title {
        cursor: default !important;
    }

    .project-about {
        height: 70px;
    }
}

/* About */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

/* Contact */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

#contactForm {
    margin: 0px auto 0px auto;
}

#contactForm > label {
    font-size: 18px;
    padding: 5px 0px 5px 0px;
}

#contactForm > input {
    border: 1px solid rgb(144, 158, 238);
    padding: 5px;
    font-size: 18px;
    margin: 5px 0px 10px 0px;
    width: 230px;
}

#contactForm > input:focus {
    outline: 3px solid rgb(144, 158, 238);
}

#contactForm > textarea {
    border: 1px solid rgb(144, 158, 238);
    padding: 5px;
    font-size: 16px;
    margin: 5px 0px 10px 0px;
    width: 280px;
    height: 100px;
}

#contactForm > textarea:focus {
    outline: 3px solid rgb(144, 158, 238);
}

#contactForm > button {
    border: 1px solid rgb(144, 158, 238);
    padding: 5px;
    font-size: 18px;
    margin: 5px 0px 10px 0px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#contactForm > button:hover {
    background-color: rgb(144, 158, 238);
    color: white;
}

#response-message {
    text-align: center;
}

/* footer */
footer {
    font-size: 14px;
    padding: 50px;
    text-align: center;
}
